body {
    background-color: #f3f3e8;
}

.waves {
    color: black;
    border: black solid 2px;
}

.inputwaves {
    background-color: #eb8454;
    color: #f3f3e8;
    outline: none;
}

.inputwaves::placeholder {
    color: #f3f3e8;
}

.completebox {
    background-color: #a1f190;
}

.footercontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
}

.linkToGithub {
    transition: all 0.3s ease;
}

.linkToGithub:hover {
    color: #b4b4b4;
}
